h1 {
    text-align: center;
    color: red;
}
#splash-image{
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.home-images{
    width:auto;
    height:200px;
    margin:20px;
}
.home-intro{
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}

.links{
    text-align: center;
    display:flex;
}
.links a{
    font-size: 24px;
}

.flex-works{
    display: flex;
}

.box-one{
    box-sizing: border-box;
    color:blue;
    border:2px solid blue;
    display:flex;
}
.box-two{
    display: flex;
    color:green;
    border:2px dashed green;
}